*{
    margin: 0;
    padding: 0;
}

main{
    
    background-image: url("img/netflix-background.jpg");
    
    
    height: 100vh;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: max(2000px, 100vw);
    
}

nav{
    border: 1px solid white;
    filter: brightness(50%) !important;
    
   

    
    
    
}

.logo{
    height: 50px;
    width: 150px;
    color: blue;
    
    position: relative;
    
    
    
}